<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Introduction To AI-Pedia</title>
  <link rel="stylesheet" type="text/css" href="style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css2?
family=Poppins:wght@100; 200; 300; 400; 600; 700&display-swap"
rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font
awesome/4.7.0/css/font-awesome.min.css">
<style>
.header3{
width: 100%
height : 100%;
padding: 0 10%;
background: #f7efef;
}

p{
font-size : 16px;
color: grey;
font-weight: 300;
text-align : center;
line-height: 22px;
margin-top : 5px;
margin-bottom:5px;
font-family: 'MonoManiacOne' ,sans-serif;
}
.header2{
font-size : 60px;
color: black;
font-weight: 300;
text-align : center;
margin-top : 5px;
margin-bottom:5px;
font-family: 'MonoManiacOne' ,sans-serif;
}
</style>
</head>
<body>

<div class="header3">
<nav class="nav-links2">
    <a href="index.html">
    <img src="images/logo2.png" width="150" height="100">
        </a>
    <div class="nav-links">
    <ul>
        <li><a href="#"></a></li>
        <li><a href="Dashboard.php">Dashboard</a></li>
        <li><a href="logout.php">Log Out</a></li>
    </ul>
    </div>
</nav>
    <div>
        <p>Chapter 1/6</p>
        <h1 class="header2">Chapter 1: An Exciting Introduction to AI</h1>
    </div>
</div>
<div>
<span>Hey there, future AI whizz! Ready to dive into the exciting world of Artificial Intelligence? Awesome! Let's get started.</span><br>
    <p>In this Chapter you will cover </p>
    <span href="C11.html">What is AI?</span><br>
    <span>Applications of AI </span><br>
    <span>Fiels in AI</span><br>


</div>
</body>
</html>